* {box-sizing: border-box;}

body{
    margin: 0;
    background-image: linear-gradient(to top left, rgba(255, 136, 0, 0.5), rgba(255, 255, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho{ 
    background-color: black;
    color: white;
    top: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    width: 100%;
}

#m{
    padding-top: 5%;
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.903);
}

.titulo{
    color: rgb(177, 0, 0);
    font-size: 25px;
    text-align: justify;
}

.titulo:active{
    color: white;
}

.noticia{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
    height: 100%;
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
    border-width: 2px;
    background-color: rgba(205, 205, 205, 0.759);
}

.demo{
    border: 1px double black;
    float: left;
    height: 200px;
    width: 25%;
    margin: 2em 2em;
    border-radius: 10%;
}

p{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    width: 95%;
}

img{
    height: 43px;
    width: 45px;
    margin: 1em 1em;
}

a{
    text-decoration: none;
}

h1{
    font-size: 30px;
    background-image: linear-gradient(to right,orange, rgb(34, 22, 0) );
    color: transparent;
    background-clip: text;
}